html {
    font-family: "Azeret Light", monospace;
    font-size: 14px;
    color:black;

}

@font-face {
    font-family: "MatrisePro";
    src: url('font.woff') format('woff');
  }

  @font-face {
    font-family: "Azeret Bold";
    src: url('AzeretMono-SemiBold.ttf') format('woff');
  }

  @font-face {
    font-family: "Azeret Light";
    src: url('AzeretMono-Light.woff') format('woff');
  }

  .grid {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 5fr;
    margin: auto;
    width: 70%;
    top:8rem;
    column-gap: 3rem;
  }

  .grid2 {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    margin-top: 13rem;
    margin-bottom: 3rem;
    font-size: .8rem;
    line-height: 1rem;
    width: 70%;
    align-items: start;
    row-gap: 3rem;
  }

  #curatorial {
    font-family: "Azeret Bold", monospace;
    font-size: 1.5rem;
  }

  p {
    line-height: 1.7rem;
    font-size: 1.2rem;
  }

  hr {
    width: 6rem;
  }

  marquee {
    font-family: "MatrisePro", monospace;
    background-color: black;
    color: white;
    height: 2.3rem;
    font-size: 2rem;
    transform: rotate(1.3deg);
    left: -1rem;
    margin: 0;
    display: block;
    position: absolute;
    top: 2rem;
  }

  .animation {
    position: relative;
    display: block;
    width: 100%;
    max-width: 20%;
    height: auto;
    align-items: center;
    left: 40vw;
}

    /* smartphone */
@media only screen and (max-width: 1000px), (orientation: portrait) {
    .grid {
        grid-template-columns: 1fr;
        width: 80vw;
        top: 5rem;
    }

    .grid2 {
        margin-top: 7rem;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        align-items: start;
        align-content: start;
        row-gap: 2rem;
        width: 80vw;
    }
    
    .mobile-space {
        display: block;
    }

    #curatorial {
        font-family: "Azeret Bold", monospace;
        font-size: 1.2rem;
      }
    
      p {
        line-height: 1.3rem;
        font-size: 1rem;
      }

      .animation {
        max-width: 50%;
        left:25vw;
    }
}